﻿@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{ 
    ViewData["Title"] = "Index";
}


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Stamp</th>
            <th>Name</th>
            <th>NormalizedName</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ConcurrencyStamp)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.NormalizedName)</td>
                <td>
                    <a asp-actipn="Edit" asp-rpute-id="@item.Id">Edit</a>
                    <a asp-actipn="Details" asp-rpute-id="@item.Id">Details</a>
                    <a asp-actipn="Delete" asp-rpute-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>






</table>



